html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  margin: 0px;
  background-color: black;
}

.top-container {
  background: #f1f1f1;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
}

#title-text {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.header {
  z-index: 10;
  background: #555;
  color: #f1f1f1;
  width: 100%;
  overflow: hidden;
  table-layout: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-element {
  padding: 20px 0px;
  float: left;
  font-size: 25px;
  color: black;
  text-align: center;
  text-decoration: none;
  table-layout: fixed;
}

.section {
  padding: 100px;
  text-align: center;
  height: 95%;
  background: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.top-container {
  padding-top: 60px;
}


.container_with_picture {
  position: relative;
  width: 100%;
  display: flex;
}

.image {
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}

.faded {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container_with_picture:hover .image {
  opacity: 0.3;
}

.container_with_picture:hover .faded {
  opacity: 1;
}

.text {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.work_display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fade-in-text {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150px;
  color: black;
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}